In [1]:
# import requests
# import json
import pandas as pd
import datetime as dt

# from config import username, password

# from sqlalchemy import create_engine
# pd.options.mode.chained_assignment = None
# engine=create_engine(f"postgresql://{username}:{password}@localhost:5432/CausesofDeathProject")
# connection=engine.connect()

In [2]:
tobacco_use = pd.read_csv('../original_datasets/Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')
tobacco_use.head()

,LocationDesc,YEAR,LocationAbbr,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,Iowa,2017-2018,IA,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(42.46940091300047, -93.81649055599968)",BEH,150BEH,177SCR,1GEN,8AGE,5RAC,6EDU,BRF77,77
1,Montana,2015,MT,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(47.06652897200047, -109.42442064499971)",BEH,100BEH,110CSA,1GEN,8AGE,5RAC,6EDU,BRF22,22
2,Delaware,2016-2017,DE,Tobacco Use – Survey Data,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(39.008830667000495, -75.57774116799965)",BEH,107BEH,174ECR,1GEN,8AGE,1RAC,6EDU,BRF56,56
3,Iowa,2016-2017,IA,Tobacco Use – Survey Data,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(42.46940091300047, -93.81649055599968)",BEH,107BEH,174ECR,1GEN,8AGE,4RAC,6EDU,BRF59,59
4,Oklahoma,2016,OK,Tobacco Use – Survey Data,E-Cigarette Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(35.47203135600046, -97.52107021399968)",BEH,107BEH,174ECU,1GEN,8AGE,5RAC,6EDU,BRF52,52

In [3]:
#iterate through the columns
for col in tobacco_use:
    print(col)

LocationDesc
YEAR
LocationAbbr
TopicType
TopicDesc
MeasureDesc
DataSource
Response
Data_Value_Unit
Data_Value_Type
Data_Value
Data_Value_Footnote_Symbol
Data_Value_Footnote
Data_Value_Std_Err
Low_Confidence_Limit
High_Confidence_Limit
Sample_Size
Gender
Race
Age
Education
GeoLocation
TopicTypeId
TopicId
MeasureId
StratificationID1
StratificationID2
StratificationID3
StratificationID4
SubMeasureID
DisplayOrder

In [4]:
tobacco_use_df = tobacco_use[["LocationDesc", "YEAR", "LocationAbbr", "TopicDesc", "MeasureDesc", "Data_Value", "Gender", "Race", "Age", "GeoLocation"]]
tobacco_use_df.head()

,LocationDesc,YEAR,LocationAbbr,TopicDesc,MeasureDesc,Data_Value,Gender,Race,Age,GeoLocation
0,Iowa,2017-2018,IA,Smokeless Tobacco Use (Adults),Current Use – (2 yrs – Race/Ethnicity),5.4,Overall,White,All Ages,"(42.46940091300047, -93.81649055599968)"
1,Montana,2015,MT,Cigarette Use (Adults),Current Smoking,17.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"
2,Delaware,2016-2017,DE,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),2.4,Overall,African American,All Ages,"(39.008830667000495, -75.57774116799965)"
3,Iowa,2016-2017,IA,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),3.3,Overall,Hispanic,All Ages,"(42.46940091300047, -93.81649055599968)"
4,Oklahoma,2016,OK,E-Cigarette Use (Adults),Current Use,7.1,Overall,White,All Ages,"(35.47203135600046, -97.52107021399968)"

In [5]:
tobacco_use_df.columns = ["state", "year", "abbr", "description", "measure", "value", "gender", "race", "age", "geolocation"]
tobacco_use_df.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
0,Iowa,2017-2018,IA,Smokeless Tobacco Use (Adults),Current Use – (2 yrs – Race/Ethnicity),5.4,Overall,White,All Ages,"(42.46940091300047, -93.81649055599968)"
1,Montana,2015,MT,Cigarette Use (Adults),Current Smoking,17.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"
2,Delaware,2016-2017,DE,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),2.4,Overall,African American,All Ages,"(39.008830667000495, -75.57774116799965)"
3,Iowa,2016-2017,IA,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),3.3,Overall,Hispanic,All Ages,"(42.46940091300047, -93.81649055599968)"
4,Oklahoma,2016,OK,E-Cigarette Use (Adults),Current Use,7.1,Overall,White,All Ages,"(35.47203135600046, -97.52107021399968)"

In [6]:
tobacco_use_df = tobacco_use_df.dropna()
tobacco_use_df.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
0,Iowa,2017-2018,IA,Smokeless Tobacco Use (Adults),Current Use – (2 yrs – Race/Ethnicity),5.4,Overall,White,All Ages,"(42.46940091300047, -93.81649055599968)"
1,Montana,2015,MT,Cigarette Use (Adults),Current Smoking,17.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"
2,Delaware,2016-2017,DE,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),2.4,Overall,African American,All Ages,"(39.008830667000495, -75.57774116799965)"
3,Iowa,2016-2017,IA,E-Cigarette Use (Adults),Current Use – (2 yrs – Race/Ethnicity),3.3,Overall,Hispanic,All Ages,"(42.46940091300047, -93.81649055599968)"
4,Oklahoma,2016,OK,E-Cigarette Use (Adults),Current Use,7.1,Overall,White,All Ages,"(35.47203135600046, -97.52107021399968)"

In [7]:
clean_tobacco_usedf = tobacco_use_df[(tobacco_use_df.description == 'Cigarette Use (Adults)') & (tobacco_use_df.measure == 'Current Smoking')]
clean_tobacco_usedf.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
1,Montana,2015,MT,Cigarette Use (Adults),Current Smoking,17.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"
6,Kansas,2013,KS,Cigarette Use (Adults),Current Smoking,19.3,Overall,White,All Ages,"(38.34774030000045, -98.20078122699965)"
7,Maine,2012,ME,Cigarette Use (Adults),Current Smoking,19.9,Overall,White,All Ages,"(45.254228894000505, -68.98503133599962)"
10,Maine,2016,ME,Cigarette Use (Adults),Current Smoking,21.6,Male,All Races,All Ages,"(45.254228894000505, -68.98503133599962)"
13,Iowa,2011,IA,Cigarette Use (Adults),Current Smoking,22.2,Male,All Races,All Ages,"(42.46940091300047, -93.81649055599968)"

In [8]:
clean_tobacco = clean_tobacco_usedf[(clean_tobacco_usedf.gender == 'Overall') & (clean_tobacco_usedf.race == 'All Races') & (clean_tobacco_usedf.age == 'All Ages')]
clean_tobacco.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
107,Florida,2016,FL,Cigarette Use (Adults),Current Smoking,15.5,Overall,All Races,All Ages,"(28.932040377000476, -81.92896053899966)"
212,Arkansas,2016,AR,Cigarette Use (Adults),Current Smoking,23.6,Overall,All Races,All Ages,"(34.74865012400045, -92.27449074299966)"
481,Louisiana,2016,LA,Cigarette Use (Adults),Current Smoking,22.8,Overall,All Races,All Ages,"(31.31266064400046, -92.44568007099969)"
521,Connecticut,2016,CT,Cigarette Use (Adults),Current Smoking,13.3,Overall,All Races,All Ages,"(41.56266102000046, -72.64984095199964)"
1529,Kansas,2016,KS,Cigarette Use (Adults),Current Smoking,17.2,Overall,All Races,All Ages,"(38.34774030000045, -98.20078122699965)"

In [9]:
clean_tobacco_df = clean_tobacco[["state", "year", "value"]]
clean_tobacco_df.head()

            state  year  value
107       Florida  2016   15.5
212      Arkansas  2016   23.6
481     Louisiana  2016   22.8
521   Connecticut  2016   13.3
1529       Kansas  2016   17.2

In [10]:
clean_tobacco_df.columns = ["state", "year", "tobacco_percentage"]

In [11]:
clean_tobacco_df=clean_tobacco_df.drop('state', axis=1)
clean_tobacco_df=clean_tobacco_df.drop('year', axis=1)
clean_tobacco_df

       tobacco_percentage
107                  15.5
212                  23.6
481                  22.8
521                  13.3
1529                 17.2
...                   ...
26778                19.7
26866                19.2
26868                25.0
26927                20.0
26960                22.0

[300 rows x 1 columns]

In [15]:
clean_tobacco_df.reset_index(drop = True, inplace = True)
clean_tobacco_df.to_csv(r'../clean_datasets/clean_tobacco.csv', index = False)

In [12]:
# #Load Dataframe into databases
# cleaned_per_cap_income.to_sql(name='income', con=engine, if_exists='replace', index=False)

In [13]:
# #Load Dataframe into databases
# clean_tobacco_use.to_sql(name='tobacco', con=engine, if_exists='replace', index=False)

In [14]:
# #Load Dataframe into databases
# clean_alcoholdata.to_sql(name='alcohol', con=engine, if_exists='replace', index=False)